@charset "utf-8";
/* CSS Document */

.pinpaiContent .contentRight {width:1200px;padding-top:35px;margin-top: 45px;}
.seoNavs {left:0;top:0px;width:100%;line-height:30px;color:#000;font-size: 30px;font-family: "方正兰亭超黑细简体";border-bottom:1px solid #dcdcdc;}
.seoNavs a {color:#c0025a;text-decoration:none;margin: 0px 2px;font-size: 30px;font-family: "方正兰亭超黑细简体";} 
.pinpaiWrapper {width:100%;padding-top:19px;}
.pinpaiWrapper .jieshao {width: 600px;height: 90px;text-indent: 2em;margin: 0px auto;font-size: 14px;color: #666;font-family: "微软雅黑";line-height: 30px;}
/*.pinpaiWrapper .content1 {height:765px;}*/
.pinpaiWrapper .content1 ul {width: 895px;margin:0 auto;}
.pinpaiWrapper .content1 ul li{width: 435px;height: 350px;background: #fff;float: left;margin: 5px;border: 1px solid #dcdcdc;text-align: center;}
.pinpaiWrapper .content1 ul li a{display: inline-block; font-size: 30px;color: #666;font-family: "方正兰亭超黑细简体";}
.pinpaiWrapper .content1 ul li .img{margin: 5px;}
.pinpaiWrapper .content1 ul li:hover{border: 1px solid #e1e1e1;transform: translate3d(0,-2px,0);-moz-transform: translate3d(0,-2px,0);-ms-transform: translate3d(0,-2px,0);-o-transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-2px,0);box-shadow: 0 0 8px rgba(8,1,3,.2);-moz-box-shadow: 0 0 8px rgba(8,1,3,.2);-o-box-shadow: 0 0 8px rgba(8,1,3,.2);-ms-box-shadow: 0 0 8px rgba(8,1,3,.2);-webkit-box-shadow: 0 0 8px rgba(8,1,3,.2);}
.pinpaiWrapper .content2 {height: 340px;margin-top: 20px;}
.pinpaiWrapper .content2 h1{font-size: 36px;color: #333;font-family: "方正兰亭超黑细简体";text-align: center;}
.pinpaiWrapper .content2 ul {width: 1200px;margin: 0 auto;float: left;}
.pinpaiWrapper .content2 ul li{float: left;margin: 20px;border: 1px solid #ccc;}
.pinpaiWrapper .content2 ul li img{padding: 2px;}
.pinpaiWrapper .content2 ul li:hover{transform: translate3d(0,-2px,0);-moz-transform: translate3d(0,-2px,0);-ms-transform: translate3d(0,-2px,0);-o-transform: translate3d(0,-2px,0);-webkit-transform: translate3d(0,-2px,0);box-shadow: 0 0 8px rgba(8,1,3,.2);-moz-box-shadow: 0 0 8px rgba(8,1,3,.2);-o-box-shadow: 0 0 8px rgba(8,1,3,.2);-ms-box-shadow: 0 0 8px rgba(8,1,3,.2);-webkit-box-shadow: 0 0 8px rgba(8,1,3,.2);}
.pinpaiWrapper .content4{width: 100%;height: 210px;float: left; }
.pinpaiWrapper .content4 ul{width: 750px;margin: 0 auto;}
.pinpaiWrapper .content4 ul li{width: 200px;height: 200px;float: left;margin:25px;}
.pinpaiWrapper .content4 p {font-size:14px;text-align:center; text-transform:uppercase;cursor: pointer; }
.pinpaiWrapper .content4 ul li a{display: inline-block;width: 75px;height: 115px;margin-left: 62.5px;}
.qiujing { background:url(../images/icons.png) no-repeat -236px -19px;}
.qiujing:hover { background-position: -236px -145px;}
.chengxin { background:url(../images/icons.png) no-repeat -506px -19px;}
.chengxin:hover { background-position: -506px -145px;}
.reqing { background:url(../images/icons.png) no-repeat -765px -19px;}
.reqing:hover { background-position: -765px -145px;}


